<li>

{{burger_name}}

{{#unless devoured}}
<button class="eat-burger" data-id="{{id}}" data-name="{{burger_name}}">
    Eat Burger
</button>
{{/unless}}

{{#if devoured}}
<button class="delete-burger" data-id="{{this.id}}">
   Delete
</button>
{{/if}}

</li>