<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<title>EAT-DA-BURGER</title>
        {{!-- import jquery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- not sure why you dont need a more direct file path but this works --}}
		<script src="/js/burger.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
